.code-bg {
    white-space: pre;
    overflow: hidden;
    animation: typing 8s steps(80, end) infinite, blink 1.5s step-end infinite alternate;
    mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
    opacity: 0.8;
}

@keyframes typing {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

@keyframes blink {
    from {
        opacity: 0.7;
    }

    to {
        opacity: 1;
    }
}